<!DOCTYPE html>
<html>

<head>
</head>

<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <p id="unauthorized" style="visibility:hidden">Go home, you shouldn't be here</p>

    <div id="testAdmin" style="visibility: visible; text-align: center;">
        <form action=javascript:testIfAdmin(AdminId.value);>
            Please scan or enter your ADMIN ID to log in: 
            <input id="AdminId" name="AdminId" type="password">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="addNewAdmin" style="text-align: center; visibility: hidden; padding-bottom: 30px;">
        <form id="adminIdForm" action=javascript:enterNewAdmin(adminId.value);>
            Add a new Administrator (This gives access to THIS page ONLY): 
            <input id="adminId" type="password" name="adminId" type="password" placeholder="12345678">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="addNewStudent" style="text-align: center; visibility: hidden; padding-bottom: 30px;">
        <form id="studentIdForm" action=javascript:enterNewAuthStudent(studentId.value);>
            Add a new Authorized Scanner: 
            <input id="studentId" type="password" name="studentId" type="password" placeholder="12345678">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="addEmailer" style="text-align: center; visibility: hidden; padding-bottom: 30px;">
        <form id="emailerAddressForm" action=javascript:enterNewEmailer(emailerAddress.value);>
            Add a new Authorized Email Recepient: 
            <input id="emailerAddress" type="text" name="EmailerName" type="password" placeholder="abc123">
            <input type="submit" value="Submit">
        </form>
    </div>

    <form id="uploadNewCsv" method="post" enctype="multipart/form-data" style="text-align: center; visibility: hidden; padding-bottom: 30px;">
        <label for="file">Upload a new CSV file: </label>
        <input name="file" type="file" accept=".csv">
        <button id="upload-file-btn" type="button">Upload</button>
    </form>

    <div id="removeAuthorizedUsers" style="text-align: center; visibility: hidden; padding-bottom: 30px;">
        <form id="removeAuthorizedUserForm" action=javascript:removeAuthorizedUser(currentAuthorizedUsers.value);>
            Remove an Authorized Scanner <select id="currentAuthorizedUsers" name="currentAuthorizedUsers"></select>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="removeAuthorizedEmails" style="text-align: center; visibility: hidden; padding-bottom: 30px;">
        <form id="removeAuthorizedEmailForm" action=javascript:removeAuthorizedEmail(currentAuthorizedEmails.value);>
            Remove an Authorized Email Address <select id="currentAuthorizedEmails" name="currentAuthorizedEmails"></select>
            <input type="submit" value="Submit">
        </form>
    </div>

    <p id="outMessage" style="text-align: center; visibility: hidden;">
    </p>
    <div style="bottom:10px;position:fixed;">
        <p>If anything is not working as intended, please email <a href="mailto:devonwasson@gmail.com">devonwasson@gmail.com</a> for assistance.</p>
    </div>

    <p id="adminUserId" style="visibility:hidden">""</p>
    <script src="../static/js/scanner.js" ></script>
</body>
</html>

